body {
    display: flex;
    flex-direction: column;
    width: 47.75rem;
    height: 50rem;
    font-family: Myriad Pro regular sans-serif;
    font-size: 1.25rem;
    padding: 0rem;
    margin: 0rem;
   

}

.header{
    padding: 1.875rem 0rem 1rem 3.125rem;
  /*  width: ;
    height: ;*/
}
.text {
    text-transform: uppercase;
    line-height: 0.625rem
    ;
}

.logo {
    width: 12.5rem;
    height: 12.5rem;
}

.box {
    width: 15rem;
    padding: 1.875rem 0rem 1rem 3.125rem;
    font-size: 0.9375rem;
}
.icon {
    width: 15.625rem;
    height: 3.125rem;
    padding-bottom: 1.25rem;
}
.naming {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0rem 1.25rem 1.25rem 0rem;
    color: #3d6cb0;
    font-family: Myriad Pro bold sans-serif; 
    font-size: 0.9375rem;
}
.line {
    margin: 0rem 0rem 0rem 1.25rem;
    text-align: left;
    color: black;
}
.skills {
    text-transform: uppercase;
    text-align: center;
}
.point {
    margin-bottom: 0.8rem;
}
.educ::before {
    content: "\2022";
    color: #3d6cb0;
    padding: 0.5rem;
}
.comp::before {
    content: "\2022";

} .soft {

}
.footer {
    
}
	


  
